<div fxLayout="column" class="covid-stats-div">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h2>Current Spread of COVID-19 in Most Affected Countries</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div id="covid-stats">
      <mat-card class="covid-barchart-card" fxLayout="column" fxFlex="grow">
        <mat-card-content fxLayout="column" fxLayoutAlign="center" fxFlex="grow">
          <canvas baseChart
            width="500"
            height="300"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>