.covid-nav-item {
    margin-right: 5px;
}

.covid-logo-text {
    text-decoration: none;
    color: white;
}

.active-menu-item {
    background-color: rgb(230, 138, 219);
    color: #000 !important;
  }